.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.whiteSquare {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: white;
  stroke: rgb(55,55,55);
  stroke-width: 1;
}

.blackSquare {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: black;
  stroke: rgb(55,55,55);
  stroke-width: 1;
}

.highlightSquare {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: yellow;
  stroke: rgb(55,55,55);
  stroke-width: 1;
}

.clueText {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: black;
  font-size: 20px;
}

.clueNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: black;
  font-size: 10px;
}

.clueList {
  list-style: none;
  margin-left: 0;
   padding-left: 1em;
   text-indent: 0em;
}

.crossword {
  height: 500px;
  width: 500px;
}

.container {
  padding: 0;
}

.extraWords {
  max-width: 500px;
  width: 500px;
}